section {
  display: block;
  background: #b2dbd5;
  height:100vh;
  width:100%;
  padding-top: 100px;
  max-width: 1000px;
  margin: 0 auto;
}
.App {
  text-align: center;
  background-color: #b2dbd5;
  color: #2b616d;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

/**************************** Header ******************************/
nav {
  background-color: #2b616d;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1000px;
}
.icon-container {
  padding-left: 2%;
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.link {
  height: 50px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
.space-link {
  margin-left: 15px;
  width: 125px;
  display: flex;
  justify-content: center;
}
.space-link:hover {
  background-color: #fa8d62;
  color: #ffffff;
  border-radius: 5px;
  /* padding: 2px 4px; */
  font-weight: bold;
}
.icon-pic {
  height: 90px;
}
.link-container {
  width: 50%;
  margin-right: 2%;
  padding-left: 10%;
  display: flex;
  justify-content: flex-end;
}

/**************************** Main Page ******************************/
.main-container {
  display: flex;
  align-items: center;
}
h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 4rem;
}
.btn {
  border: #2b616d 2px solid;
  border-radius: 5px;
  background-color: #2b616d;
  color: #fa8d62;
  text-decoration: none;
  margin: 0px 10px;
}
.main-text p {
  text-align: center;
}
span {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}
.link-img {
  width: 10%;
}
.main-p {
  margin: 0px;
}
h1 {
  margin: 0px;
  padding: 0px;
}
.social-icons {
  margin-top: 3%;
}
/**************************** Projects ******************************/
.project-container {
  display: flex;
  justify-content: center;
}
.project-h3 {
  width: 100%;
}
.projects-container {
  width: 30%;
}
.img-box {
  width: 100%;
  height: auto;
}
.project-img {
  width: 100%;
  border-radius: 10px;
}
.project-text-box {
  width: 100%;
}
.project-text-box h4, p {
  padding-left: 10px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}


/**************************** Resizing ******************************/

@media screen and (min-width: 250px) and (max-width: 900px ) {
  /* section {
    padding-top: 100px;
  } */
  .main-container {
    flex-direction: column;
  }
  .main-text {
    display: flex;
    flex-direction: column;
    padding: 0% 3%;
  }
  .main-img {
    width: 40%;
    margin-top: 5%;
  }
  .main-icon {
    width: 100%;
  }
  .link-img {
    width: 8%;
  }
  .projects-main {
    height: 100vh;
  }
  .projects-container {
    width: 40%;
  }
  .project-img {
    width: 90%;
    border-radius: 5px;
  }
  .project-text-box {
    width: 100%;
  }
}




@media screen and (min-width: 250px) and (max-width:650px) {
  /* section {
    padding-top: 100px;
  } */
  h1 {
    line-height: 100%;
    margin-bottom: 6%;
  }
  .link-img {
    width: 8%;
  }
  .header-h3 {
    display: none;
  }
  .icon-container {
    padding-left: 0%;
    display: flex;
    justify-content: flex-end;
    width: 33%;
  }
  .link-container {
    width: 66%;
    padding-left: 0%;
    display: flex;
    justify-content: flex-start;
  }
}